{% extends 'base.html.twig' %}

{% block title %}Hello FormationController!{% endblock %}

{% block body %}
<table>

    <h2>liste des Formations</h2>
    
    <tr>
        <th>Nom</th>
        <th>option</th>
    </tr>
    
    {% for formation in formations %}
    <tr>
        <td><a href="{{ path('show_formation', {'id': formation.id}) }}">{{formation.nom}}</a></td>
        <td><a href="{{ path('delete_formation', {'id': formation.id}) }}"> Supprimer </a></td>
    </tr>
    {% endfor %}
    <a href="{{ path('new_formation') }}">Nouvelle formation</a></br>
</table>
{% endblock %}
