{% extends 'base.html.twig' %}

{% block title %}Hello ModuleController!{% endblock %}

{% block body %}
<h1> Liste des Module</h1>
<a href="{{ path('new_module') }}">Nouveau module</a></br>
<table>

    <h2>liste des Modules</h2>
    
    <tr>
        <th>Nom</th>
        <th>Categorie</th>
    </tr>
    
    {% for module in modules %}
    <tr>
        <td>{{module.libelle}}</td>
        <td>{{module.categorie}}</td>
    </tr>
    {% endfor %}
    

</table>
{% endblock %}
