{% extends 'base.html.twig' %}

{% block title %}Hello CategorieController!{% endblock %}

{% block body %}
<table>

    <h2>liste des Catégorie</h2>
    
    <tr>
        <th>Nom</th>
    </tr>
    
    {% for categorie in categories %}
    <tr>
        <td><a href="{{ path('show_categorie', {'id': categorie.id}) }}">{{categorie.nom}}</a></td>
        <td><a href="{{ path('delete_categorie', {'id': categorie.id}) }}"> Supprimer </a></td>
    </tr>
    {% endfor %}
    <a href="{{ path('new_categorie') }}">Nouvelle catégorie</a></br>

</table>
{% endblock %}
