{% extends 'base.html.twig' %}

{% block title %}Hello FormateurController!{% endblock %}

{% block body %}
<table>

    <h2>liste des Formateurs</h2>
    
    <tr>
        <th>Nom</th>
        <th>option</th>
    </tr>
    
    {% for formateur in formateurs %}
    <tr>
        <td><a href="{{ path('show_formateur', {'id': formateur.id}) }}">{{formateur.nom}}</a></td>
        <td><a href="{{ path('delete_formateur', {'id': formateur.id}) }}"> Supprimer </a></td>
    </tr>
    {% endfor %}
    <a href="{{ path('new_formateur') }}">Nouveau formateur</a></br>

</table>
{% endblock %}
